<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">

  </head>
  <body>

    <div class="container">
      <form action="/event-report" method="post">
        <div class="row">
          <h1>USIU FACILITY BOOKING SYSTEM</h1>
          <h4>Venue Max Capacity: </h4>
          <p>[ Auditorium: 100, TV ROOM1: 50, TV Room2: 30 ]</p>

          <div class="input-group input-group-icon">
            <select style="width:100%" name="venue" id="venue">
              <option value="auditorium">Auditorium</option>
              <option value="tvroom_1">TV Room 1</option>
              <option value="tvroom_2">TV Room 2</option>
            </select>
          </div>

          <div class="input-group input-group-icon">
            <input id="name" type="text" placeholder="Event Name" name="event_name" required/>
          </div>

          <div class="input-group input-group-icon">
            <input type="number" id="capacity" placeholder="Capacity" name="capacity" required/>
          </div>
        </div>

        <div class="row">
          <div class="col-half">
            <h4>Booking Date</h4>
            <div class="input-group">
                <input type="date" placeholder="Pick Date" id="date" name="date" required/>
            </div>
          </div>

          <div class="col-half">
            <h4>Booking Time </h4>
            <div class="input-group">
              <div class="input-group">
                  <input type="time" id="time" placeholder="Pick Time" name="time" required/>
              </div>
            </div>
          </div>
        </div>

        <button type="submit" class="btn" id="book-event-btn">BOOK EVENT</button>
      </form>

      {{#if errorMessage}}
        <div class="error-message">{{errorMessage}}</div>
      {{/if}}

      <form action="/view-events" method="get">
        <button type="submit" class="btn" id="view-events-btn" style="margin-top: 20px;">VIEW ALL EVENTS</button>
      </form>

    </div>

  </body>
</html>

