<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="./styles/style.css">
  </head>
  <body>

    <div class="container">
      <form>
        <div class="row">
          <h4>USIU FACILITY BOOKING SYSTEM</h4>

          <div class="input-group input-group-icon">
            <input type="text" placeholder="Event Name" disabled/>
          </div>

          <div class="input-group input-group-icon">
            <input type="text" placeholder="Place" name="place" id="place" disabled/>
          </div>

          <div class="input-group input-group-icon">
            <input type="number" placeholder="Capacity" disabled/>
          </div>
        </div>


        <div class="row">
          <div class="col-half">
            <h4>Booking Date</h4>
            <div class="input-group">
                <input type="date" placeholder="Pick Date" disabled/>
            </div>
          </div>

          <div class="col-half">
            <h4>Booking Time</h4>
            <div class="input-group">
              <div class="input-group">
                  <input type="time" placeholder="Pick Date" disabled/>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-half">
            <h4>Amount Charged:</h4>
            <div class="input-group">
                <input type="number" placeholder="Amount" disabled/>
            </div>
          </div>
        </div>

        <button id="proceed">PROCEED TO PAYMENT</button>
      </form>
    </div>

  </body>
</html>
